body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
            'Lucida Sans', Arial, sans-serif;
    
    display: flex;
    justify-content: center;
}

.game-section {
    background-color: bisque;
    border-radius: 15%;
    padding: 5%;
    margin-top: 5%;
    box-shadow: 10px 5px 5px black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.buttons button {
    flex: 1;
    min-height: 3em;
}

.outcome {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 25px;
}